.container {
	min-width: 1200px;
}

#panel {
	position: relative;
}

.panel-section {
	position: absolute;
}

#menusSection {
	right: 0;
	width: 50%;
}

.color-red {
	color: red;
}

.color-black {
	color: black;	
}

.start-menu-element {
	margin: 10px 0;
}

.initial-message {
	font-size: 1.7em;
}

#playerSelectionContainer {
	font-size: 1.3em;
}

#scoreTableCaption {
	font-size: 4em;
	color: green;
}

.game-prompt {
	font-size: 2.6em;
	color: rgb(111, 111, 111);
}

#gameBoardSection {
	left: 0;
	width: 50%;
	padding-bottom: 40px;
}

#gameRules {
	border: solid 1px black;
	border-radius: 30px;
	padding: 15px;
	background-color:rgb(230, 230, 230);
}

#gameRulesPicture {
	border: 1px solid rgb(134, 134, 134);
}

#gameBoard {
	background-color: yellow;
	width: 505px;
	border: solid 1px black;
}

.game-board-column {
	display: inline-block;
}

.game-board-column:hover {
	background-color: #5EE1EB;
	cursor: pointer;
}

.game-board-slot.selected-cell {
	opacity: 0.78;
}

.game-board-slot.player-red-selected-slot {
	background-color: red;
}

.game-board-slot.player-black-selected-slot {
	background-color: black;
}

.game-board-slot.winning-slot {
	background-color: rgb(0, 173, 0);
}

.game-board-slot {
	height: 55px;
	width: 55px;
	margin: 8px;
	border-radius: 50%;
	border: solid 1px rgb(182, 182, 182);
	background-color: white;
}

#columnFullMsg {
	color: rgb(189, 0, 0);
}

#selectGameTypeMenuBtnContainer {
	padding: 10px;
}