/*
 * Custom styles for Connect Four
 */

 /* Google Font */
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700);

/* Body Style & Font */
body {
 font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
 /*background-color: rgb(122, 183, 215); */
 color: #ffffff;
}
.main
{ background-color: rgba(122, 183, 215, 0.5);
padding:10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
}
/* Grid Arrangement */
.row {
  margin-top: 20px;
}

.container {
  padding-bottom: 50px;
}

/* Title */
h1.title {
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  background:url('../images/logo.png') no-repeat;
  background-position:center top;  
  text-indent:-9999px; 
   height: 148px;  
   
}

/* Button Styles */
.button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  cursor: pointer;
  outline: none !important;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.button {
  border: solid 2px #fff;
  color: #fff;
  border-radius: 3px;
}

.default:hover {
  border: solid 2px yellow;
  border-radius: 3px;
  color: yellow;
}

.default:active {
  background-color: yellow;
  color: white !important;
}

.success:active {
  background-color: green !important;
  color: white !important;
}

.success:hover {
  border: solid 2px green;
  color: green;
  border-radius: 3px;
}

.alert:active {
  background-color: #d20000 !important;
  color: white !important;
}

.alert:hover {
  border: solid 2px #d20000;
  color: #d20000;
  border-radius: 3px;
}

.alert {
  margin-bottom: 10px;
}

/* Labels for each player with the color of their playing piece */
h4.label-p1 {
  color: white;
  text-transform: uppercase;
}

h4.label-p2 {
  color: white;
  text-transform: uppercase;
}

h4.prefix {
  font-size: 0.9rem;
  text-align: left;
  display: block;
  margin: 0;
}

/* Player name inputs */
.nameInputRow {
  margin-top: 20px;
}

.nameInput {
  width: 100%;
  border: none;
  padding: 10px;
  border: solid 2px white;
  border-radius: 3px;
  outline: none !important;
  background-color: transparent;
  font-size: 0.8rem;
  color: white;
  margin-bottom: 20px;
}

.nameInput::-webkit-input-placeholder {
   color: white;
}

.nameInput:-moz-placeholder { /* Firefox 18- */
   color: white;
}

.nameInput::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

.nameInput:-ms-input-placeholder {
   color: white;
}

.p1:focus {
  border-color: red;
}

.p2:focus {
  border-color: yellow;
}

.p2 {
  margin-bottom: 0px !important;
}

/* Rules Link */
.ruleButton {
  text-decoration: none;
  color: white;
  border-bottom: dashed 1px white !important;
}

/* Instructions */
.instructionCont p {
  font-size: 0.8rem;
  line-height: 1.4rem;
}

/* This class mostly gives indications in HTML -- not used in CSS anymore. */
/* A notifications 'tray' affixed to the top left for visibility. */
div.notifications {
  position: fixed !important;
  bottom: 16px;
  right: 16px;
  left: 16px;
  z-index: 2;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  border-radius: 3px;
}

/* Ensure notifications stack atop one another */
div.notifications span {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

/* The Connect Four grid itself */
.gameRow {
  margin-top: 30px;
}

#grid table {
  width: 100%;
  /* background: rgb(122, 183, 215); */
}

#grid table tr td {
  height: 64px;
  width: 64px;
  border: solid 4px white;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  cursor: pointer;
}

#gridCont.p1ColorH > #grid > .gridTable > tbody > tr > td.cell-empty:hover {
   background-color: rgba(255,0,0,0.5);
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   -webkit-animation: glowred .4s infinite alternate;
   animation: glowred .4s infinite alternate;
   -moz-animation: glowred .4s infinite alternate;
   -o-animation: glowred .4s infinite alternate;

}

@-webkit-keyframes glowred {
    to {
		
        background-color: rgba(255,0,0,1);
    }
}
@-moz-keyframes glowred {
    to {
		
        background-color: rgba(255,0,0,1);
    }
}
@-o-keyframes glowred {
    to {
		
        background-color: rgba(255,0,0,1);
    }
}
@keyframes glowred {
    to {
		
        background-color: rgba(255,0,0,1);
    }
}

#gridCont.p2ColorH  > #grid > .gridTable > tbody > tr td.cell-empty:hover {
  background-color: rgba(255,255,0,0.5);
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   animation: glow .4s infinite alternate;
   -webkit-animation: glowyellow .4s infinite alternate;
   animation: glowredyellow .4s infinite alternate;
   -moz-animation: glowyellow .4s infinite alternate;
   -o-animation: glowyellow .4s infinite alternate;
}
#grid table tr .cell-empty {
  background: transparent;
}

@-webkit-keyframes glowyellow {
    to {
		
        background-color: rgba(255,255,0,1);
    }
}
@-moz-keyframes glowyellow {
    to {
		
        background-color: rgba(255,0,0,1);
    }
}
@-o-keyframes glowyellow {
    to {
		
        background-color: rgba(255,0,0,1);
    }
}
@keyframes glowyellow {
    to {
		
        background-color: rgba(255,0,0,1);
    }
}
#grid table tr .cell-p1 {
  background: red;
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

#grid table tr .cell-p2 {
  background: yellow;
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

/* Win text */
.youWin {
  margin-top: 60px;
}

/* Turn coloring */
.p1Color {
  color: red;
}

.p2Color {
  color: yellow;
}

/* Load button */
.loadGame button {
  margin-top: 2px;
}

.btm_sec {
    /* RGBa*/
    background-color: rgba(86, 195, 223, 1);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5EDFF, endColorstr=#A5EDFF);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5EDFF, endColorstr=#A5EDFF)";
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
padding-bottom:10px;
}
.animate-area
{ background-image: url(../images/hori.png), url(../images/verti.png), url(../images/connect.png);
 background-repeat: no-repeat, no-repeat, repeat;
 background-position: 140px 80px, 20px 220px, 0px 0px;
-webkit-transition: animatedbg 1s ease-in-out;
    -moz-transition: animatedbg 1s ease-in-out;
    -o-transition: animatedbg 1s ease-in-out;
    -ms-transition: animatedbg 1s ease-in-out;
    transition: animatedbg 1s ease-in-out;

-webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    
-moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;  
}

@keyframes animatedbg {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes animatedbg {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}