body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #224455;
}

.cell {
	width: 100px;
	height: 100px;
	text-align: center;
	background-color: grey;
	display: inline-block;
}

.red.cell {
	background-color: red;
	color: white;
}

.black.cell {
	background-color: black;
	color: white;
}