/*
 * Custom styles for Connect Four
 */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body, div.container {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #d8d8d8; /* Old browsers */
    background: -moz-linear-gradient(top,  #d8d8d8 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d8d8d8 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d8d8d8 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d8d8d8 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d8d8d8 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}

h1,h2,h3,h4,h5,button,.button {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

// Define colors for the players in variables, since they will be used more than
// once
$player-color-p1:  #ff5656;
$player-color-p2:  #ffff83;

/* Regular Foundation labels are far too small */
span.label {
    font-size: 100%;
}

/* This class mostly gives indications in HTML -- not used in CSS anymore. */
div.instructions {
    text-align: center;
}

/* A notifications 'tray' affixed to the top left for visibility. */
div.notifications {
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
}

/* Ensure notifications stack atop one another */
div.notifications span {
    display: block;
}


.button {
    text-transform: uppercase;
}

.header h1 {
    text-align: center;
    text-shadow: 2px 2px 1px #fff;
    font-size: 3em;
    margin-bottom: 20px;
    color: #444;
}

.header {
    margin: 0px;
}

.buttons button {
    margin: 5px;
}

.vs > h3 {
    text-align: center;
}

/* The Connect Four grid itself */
#grid {
    margin-top: 25px;
    table {
        background: url(../img/connect4mask.png);
        background-size: cover;
        margin: 0 auto;
        position: relative;
        z-index: 2;

        tr {
            /* Since table cells represent Connect Four cells, ensure they're
               uniformly square and present a circular window to the world */
            td {
                height: 64px;
                width: 64px;
                border: 1px solid #d9d9d9;
                // border-radius hacks
                $radius:  100%;
                -moz-border-radius: $radius;
                -webkit-border-radius: $radius;
                -ms-border-radius: $radius;
                -o-border-radius: $radius;
                border-radius: $radius;
            }

            .cell-empty {
                background: transparent;
            }

            .cell-p1 {
                background: $player-color-p1;
            }

            .cell-p2 {
                background: $player-color-p2;
            }
        }
    }
    > ul {
        margin-top: -25px;
    }

    > ul:nth-child(1) {
        margin-top: 0px;
    }
}

div.row {
    background: transparent;
}

.postfix.button {
    max-width: 200px;
    margin: 0 auto;
    background-color: transparent;
    border: 3px solid #777777;
    border-radius: 5px;
    color: #777777;
    line-height: 2.9;
    height: 45px;
}

div.panel {
    border: none;
    background-color: transparent;
    padding: 0px 15px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    -webkit-box-shadow: 0 0 1px #999999;
    -moz-box-shadow: 0 0 1px #999999;
    box-shadow: 0 0 1px #999999;
    border-color: #999999;
}

div.container {
    width: 100%;
    max-width: 62.5em;
    padding: 25px 15px;
    margin: 25px auto;
    background-color: #eeeeee;
    border: 1px solid #bbbbbb;
    border-bottom: 2px solid #bbbbbb;
    box-shadow: 0px 1px 1px 1px #C7C7C7;
}

button.success, .button.success, button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
    background-color: transparent;
    border: 3px solid #518f1f;
    color: #518f1f;
    border-radius: 10px;
}

button, .button, button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background-color: transparent;
    border: 3px solid #2795b6;
    border-radius: 10px;
    color: #2ba6cb;
}

button.alert, .button.alert, button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
    background-color: transparent;
    color: #c60f13;
    border: 3px solid #ae0d11;
    border-radius: 10px;
}

.row {
    .row.players {
        margin: 20px 0px;
    }
    .row.load-game {
        max-width: 500px;
        margin: 0 auto;
    }
}

#grid ul {
    list-style-type: none;
    width: 100%;
    margin-left: 50%;
    left: -230px;
    margin-bottom: 0px;
    position: relative;
    bottom: 60px;
}

#grid > ul > li {
    width: 62px;
    display: inline-block;
}

.animate {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $player-color-p1;
    -moz-transition: -moz-transform 1s ease-in;
    -webkit-transition: -webkit-transform 1s ease-in;
    -o-transition: -o-transform 1s ease-in;
    -ms-transition: -ms-transform 1s ease-in;
    position: absolute;
}
.animate.down {
    -moz-animation-name: bounce;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform: translatey(400px);
    -moz-transition: none;

    -webkit-animation-name: bounce;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform: translatey(400px);
    -webkit-transition: none;
}

@-moz-keyframes bounce {
  from {
    -moz-transform: translatey(0px);
    -moz-animation-timing-function: ease-in;
  }
  60% {
    -moz-transform: translatey(400px);
    -moz-animation-timing-function: ease-out;
  }
  73% {
    -moz-transform: translatey(360px);
    -moz-animation-timing-function: ease-in;
  }
  86% {
    -moz-transform: translatey(400px);
    -moz-animation-timing-function: ease-out;
  }
  93% {
    -moz-transform: translatey(380px);
    -moz-animation-timing-function: ease-in;
  }
  to {
    -moz-transform: translatey(400px);
    -moz-animation-timing-function: ease-out;
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translatey(0px);
    -webkit-animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: translatey(400px);
    -webkit-animation-timing-function: ease-out;
  }
  73% {
    -webkit-transform: translatey(360px);
    -webkit-animation-timing-function: ease-in;
  }
  86% {
    -webkit-transform: translatey(400px);
    -webkit-animation-timing-function: ease-out;
  }
  93% {
    -webkit-transform: translatey(380px);
    -webkit-animation-timing-function: ease-in;
  }
  to {
    -webkit-transform: translatey(400px);
    -webkit-animation-timing-function: ease-out;
  }
}

.checker-p1 {
    background-color: $player-color-p1;
}

.checker-p2 {
    background-color: $player-color-p2;
}

@media (max-width: 997px) {
    .buttons {
        text-align: center;
    }
    div.container {
        margin: 0px;
        height: 100%;
        border: none;
        border-bottom: none;
        box-shadow: none;
    }
    body,html {
        height: 100%;
        background-color: #eeeeee;
    }
    .row .row.players {
        margin-bottom: 0px;
    }
}

@media (max-width: 500px) {
    #grid table tr td {
        height: 50px;
        width: 50px;
    }
    #grid ul {
        left: -180px;
    }
    #grid > ul > li {
        width: 48px;
        display: inline-block;
    }
    .animate {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $player-color-p1;
        -moz-transition: -moz-transform 1s ease-in;
        -webkit-transition: -webkit-transform 1s ease-in;
        -o-transition: -o-transform 1s ease-in;
        -ms-transition: -ms-transform 1s ease-in;
        position: absolute;
    }
    .animate.down {
        -moz-animation-name: bounce;
        -moz-animation-duration: 1s;
        -moz-animation-iteration-count: 1;
        -moz-transform: translatey(330px);
        -moz-transition: none;

        -webkit-animation-name: bounce;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform: translatey(330px);
        -webkit-transition: none;
    }
    @-moz-keyframes bounce {
      from {
        -moz-transform: translatey(0px);
        -moz-animation-timing-function: ease-in;
      }
      60% {
        -moz-transform: translatey(330px);
        -moz-animation-timing-function: ease-out;
      }
      73% {
        -moz-transform: translatey(290px);
        -moz-animation-timing-function: ease-in;
      }
      86% {
        -moz-transform: translatey(330px);
        -moz-animation-timing-function: ease-out;
      }
      93% {
        -moz-transform: translatey(310px);
        -moz-animation-timing-function: ease-in;
      }
      to {
        -moz-transform: translatey(330px);
        -moz-animation-timing-function: ease-out;
      }
    }

    @-webkit-keyframes bounce {
      from {
        -webkit-transform: translatey(0px);
        -webkit-animation-timing-function: ease-in;
      }
      60% {
        -webkit-transform: translatey(330px);
        -webkit-animation-timing-function: ease-out;
      }
      73% {
        -webkit-transform: translatey(290px);
        -webkit-animation-timing-function: ease-in;
      }
      86% {
        -webkit-transform: translatey(330px);
        -webkit-animation-timing-function: ease-out;
      }
      93% {
        -webkit-transform: translatey(310px);
        -webkit-animation-timing-function: ease-in;
      }
      to {
        -webkit-transform: translatey(330px);
        -webkit-animation-timing-function: ease-out;
      }
    }
}