.container {
	min-width: 1200px;
}

#panel {
	position: relative;
}

.panel-section {
	position: absolute;
}

#menusSection {
	right: 0;
	width: 50%;
}

.color-red {
	color: red;
}

.start-menu-element {
	margin: 10px 0;
}

#scoreTableCaption {
	font-size: 3em;
}

.game-prompt {
	font-size: 1.2em;
}

#gameBoardSection {
	left: 0;
	width: 50%;
}

#gameBoard {
	background-color: yellow;
	width: 499px;
	border: solid 1px black;
}

.game-board-column {
	display: inline-block;
}

.game-board-column:hover {
	background-color: #5EE1EB;
	cursor: pointer;
}

.game-board-slot.selected-cell {
	opacity: 0.78;
}

.game-board-slot.player-red-selected {
	background-color: red;
}

.game-board-slot.player-black-selected {
	background-color: black;
}

.game-board-slot {
	height: 55px;
	width: 55px;
	margin: 8px;
	border-radius: 50%;
	border: solid 1px rgb(182, 182, 182);
	background-color: white;	
}